body {
    background-color: transparent;
}
@font-face {
    font-family: balloons;
    src: url(fonts/Balloons!.ttf);
}
@font-face {
    font-family: roadstay;
    src: url(fonts/Roadstay.ttf);
}

.cursive {
    font-family: roadstay;
}

.balloon {
    /* color: purple; */
    font-size: 1.5em;
    font-family: balloons;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.background {
    position: absolute;
    background-image: url(../img/tokamak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: contrast(66%) brightness(60%);
    width: 100%;
    height: calc(100vh - 250px);
    min-height: 400px;
    z-index: -1;
}

.section-container {
    min-height: calc(100vh - 40px);
}

.line {
    font-size: 4vh;
}

.masthead {
    margin-bottom: 0rem;
    height: calc(100vh - 250px);
    min-height: 400px;
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}
