body {
    background-color: transparent;
}
@font-face {
    font-family: balloons;
    src: url(fonts/Balloons!.ttf);
}
@font-face {
    font-family: roadstay;
    src: url(fonts/Roadstay.ttf);
}

.cursive {
    font-family: roadstay;
}

.balloon {
    /* color: purple; */
    font-size: 1.3em;
    font-family: balloons;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.background {
    position: absolute;
    background-image: url(../img/tokamak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: contrast(66%) brightness(60%) saturate(70%);
    width: 100%;
    height: calc(100vh - 250px);
    min-height: 400px;
    z-index: -1;
}

.iter {
    background-color: #fcb52c;
}
.iter-background {
    background-color: #f5f5f5;
}

.isttok {    
    background-image: url(../img/isttok/IMG_4136.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: calc(100vh - 100px); */
    min-height: 600px;    
}

.card {
    border-radius: 1rem;
}

.card-img {
    filter: contrast(70%) brightness(70%) saturate(80%);
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: calc(1rem - 1px);
}
.card-img, .card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.section-container {
    min-height: calc(100vh - 150px);
}

.line {
    font-size: 4vh;
}

.masthead {
    margin-bottom: 0rem;
    height: calc(100vh - 250px);
    min-height: 400px;
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-circle {
    padding: 2px;
    font-size: 11px;
    width: 13px;
    text-align: center;
    text-decoration: none;
    margin: 1px 2px;
}

.fa-icon {
    padding: 4px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
}

.fa-list {
    padding: 12px;
    font-size: 20px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
