{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <!-- JUMBOTRON -->
    <section>
        <div class="jumbotron-bg"></div>
        <div class="jumbotron text-center mb-0 p-0 bg-transparent">        
            <div class="container p-5">
                <!-- <img class="avatar img-fluid" src="{% static 'img/james.png' %}" width="128" , height="128"> -->
                <div class="canvas-container"></div>
                <p class="h1 text-white p-4 ">Welcome</p>
                <p class="lead text-white p-4">
                    Hi, my name is D. Corona!
                </p>
                <p class="p-4">
                    <a href="{% url 'cv' %}" class="btn btn-outline-light my-4 px-3 py-2 font-weight-bold">KNOW MY SCIENCE!</a>
                    <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
                </p>                
            </div>
        </div>
    </section>
    
    <!-- ITER Banner -->
    <section class="iter-background">
        <div class="container p-3">
            <div class="row align-items-center justify-content-between">
                <div
                    class="col-lg-5 container py-2 px-lg-4 text-center text-lg-left"
                >
                    <div class="col-12 m-0">
                        <span class="font-weight-bold"
                            >Get to know ITER</span
                        >
                    </div>
                    <div class="col-12 m-0">
                        <span class="small p-0 font-weight-light"
                            >one of the most ambitious energy projects
                            in the world! →</span
                        >
                    </div>
                </div>
                <div class="text-center col-lg-5 py-2 py-lg-3">
                    <a
                        href="https://www.iter.org/"
                        class="btn btn-sm btn-warning text-white px-4"
                        target="_blank"
                        >Know more</a
                    >
                </div>
            </div>
        </div>
    </section>
</main>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js" integrity="sha256-gSh8eotzb/CVvCREGPUNgIWuDnTYnZvVOQnRrP1eDjI=" crossorigin="anonymous"></script> -->
<!-- <script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/RequestAnimationFrame.js' %}"></script>
<script src="{% static 'js/snap.svg-min.js' %}"></script>
<script src="{% static 'js/OrbitControls.js' %}"></script>
<script src="{% static 'js/lsp.js' %}"></script> -->

{% endblock %}
