{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="panel bg-light">
        <section>
            <div class="p-4 align-items-start align-items-lg-center">
                <div class="my-3">
                    <div class="text-center">
                        <!-- HEADER LINE -->
                        <div class="col-12 d-flex">
                            <div class="color-accent col-2 col-lg-1"></div>
                        </div>
                        <h1 class="col-lg-12 text-primary py-4 pt-lg-5">
                            Publications
                        </h1>
                        <div id="carouselQuotes" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for quote in quotes %}
                                    {% if quote.is_active %}
                                    {% if forloop.first %}
                                    <div class="carousel-item active">
                                    {% else  %}
                                    <div class="carousel-item">
                                    {% endif %}
                                        <blockquote class="blockquote text-center">
                                            <p class="mb-0">
                                                {{ quote.text }}
                                            </p>
                                            <footer class="blockquote-footer">
                                                {{ quote.author }}                                
                                            </footer>
                                        </blockquote>                                    
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container  bg-light">
                {% for pub in pubs %}
                {% if pub.is_active %}
                <div class="row justify-content-center py-4">
                    <div class="col-2 pr-0 d-none d-lg-block">
                        {{ pub.date_pretty }}
                    </div>
                    <div class="col-11 col-lg-9 text-justify text-lg-left">
                        <div class="col-12">
                            <p>
                                <b>{{ pub.title }},</b>
                                {{ pub.journal }}
                            </p>
                        </div>
                        <div class="col-12">
                            <cite>
                                {{ pub.authors }}                                
                            </cite>
                        </div>
                        <div class="col-8 mt-2 d-lg-none">
                            <span>
                                {{ pub.date_pretty }}
                            </span>
                        </div>
                        <div class=" col-lg-4 mt-3">
                            <a
                                href="{{ pub.pubfile.url }}"
                                class="btn btn-primary"
                                target="_blank"
                                >Read article</a
                            >
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}                
            </div>
        </section>
        <!-- SPACE -->
        <div class="container-fluid p-3 bg-light">
            <div class="row align-items-center justify-content-between">
                <div
                    class="col-lg-6 container py-2 text-center text-lg-left"
                >
                    <div class="col-12 m-0"></div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}