{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-11 col-lg-9 col-xl-8">
                <h1 class="pt-4">{{ entry.title }}</h1>
                <p class="small text-muted">
                    {{ entry.date }}
                </p>
                <p class="small text-muted">
                    {{ entry.tags }}
                </p>
                {% if entry.gallery_embeds.all or entry.gallery_images.all %}
                <br />                
                <div id="gallery-carousel" class="carousel slide" data-interval="false">
                    <ol class="carousel-indicators">
                        <!-- Embed -->
                        {% for img in entry.gallery_embeds.all %}
                            {% if forloop.first %}
                            <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                            {% else %}
                            <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class=""></li>
                            {% endif %}
                        {% endfor %}
                        <!-- Images -->
                        {% for img in entry.gallery_images.all %}
                            {% if forloop.first and not entry.gallery_embeds.all %}
                            <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>                        
                            {% else %}
                            <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class=""></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        <!-- Embed -->
                        {% for emb in entry.gallery_embeds.all %}
                            {% if forloop.first %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                                <div class="bg-black">
                                    <div class="gallery-img d-flex" alt="Slide">
                                        <div class="iframe-container justify-content-center align-self-center">
                                            {{ emb.body | safe }}                                 
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>{{ emb.name }}</h5>
                                            <p>{{ emb.description }}</p>
                                        </div>                                
                                    </div>                                
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Images -->
                        {% for img in entry.gallery_images.all %}                                       
                            {% if forloop.first and not entry.gallery_embeds.all %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}                                
                                <div class="bg-black">
                                    <div class="gallery-img d-block w-100" style="background-image: url('{{ img.image.url }}');" alt="Slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>{{ img.name }}</h5>
                                            <p>{{ img.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#gallery-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#gallery-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br />
                {% endif %}
                <hr />
                <br />
                <p class="text-muted">
                    {{ entry.body | safe | linebreaks }}
                </p>
            </div>
        </div>        
    </div>
</main>
{% endblock %}