{% load static %}
<footer class="bg-dark text-light">
    <div class="container">
        <div class="row justify-content-center p-3">
            <div class="social-media col-3 col-lg-1">
                <a href="http://github.com/Aestial" class="fa fa-github fa-footer text-white" target="_blank"></a>
            </div>
            <div class="social-media col-3 col-lg-1">
                <a href="https://www.linkedin.com/in/Aestial/" class="fa fa-linkedin fa-footer text-white" target="_blank"></a>
            </div>
        </div>
        <div class="container text-center p-3">
            <p>
                &copy; Jaime Hernández {% now "Y" %}
            </p>
            <small>
                Thanks for taking this far!! <a href="#">Back to top</a>
            </small>
        </div>
    </div>
</footer>