{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container d-flex h-100">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo-light.png' %}" width="50" height="50" class="d-inline-block align-top" alt="" />
                <span class="ml-2 cursive"><b class="balloon">Dori</b> Science</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                    <a class="nav-item nav-link" href="{% url 'cv' %}">CV</a>

                </div>
            </div>
        </div>
    </nav>
</header>